<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#0001F302</key>
	<string>🌂</string>
	<key>#0001F31F</key>
	<string>🌟</string>
	<key>#0001F380</key>
	<string>🎀</string>
	<key>#0001F3A9</key>
	<string>🎩</string>
	<key>#0001F3BD</key>
	<string>🎽</string>
	<key>#0001F3C3</key>
	<string>🏃</string>
	<key>#0001F440</key>
	<string>👀</string>
	<key>#0001F442</key>
	<string>👂</string>
	<key>#0001F443</key>
	<string>👃</string>
	<key>#0001F444</key>
	<string>👄</string>
	<key>#0001F445</key>
	<string>👅</string>
	<key>#0001F446</key>
	<string>👆</string>
	<key>#0001F447</key>
	<string>👇</string>
	<key>#0001F448</key>
	<string>👈</string>
	<key>#0001F449</key>
	<string>👉</string>
	<key>#0001F44A</key>
	<string>👊</string>
	<key>#0001F44B</key>
	<string>👋</string>
	<key>#0001F44C</key>
	<string>👌</string>
	<key>#0001F44D</key>
	<string>👍</string>
	<key>#0001F44E</key>
	<string>👎</string>
	<key>#0001F44F</key>
	<string>👏</string>
	<key>#0001F450</key>
	<string>👐</string>
	<key>#0001F451</key>
	<string>👑</string>
	<key>#0001F452</key>
	<string>👒</string>
	<key>#0001F453</key>
	<string>👓</string>
	<key>#0001F454</key>
	<string>👔</string>
	<key>#0001F455</key>
	<string>👕</string>
	<key>#0001F456</key>
	<string>👖</string>
	<key>#0001F457</key>
	<string>👗</string>
	<key>#0001F458</key>
	<string>👘</string>
	<key>#0001F459</key>
	<string>👙</string>
	<key>#0001F45A</key>
	<string>👚</string>
	<key>#0001F45B</key>
	<string>👛</string>
	<key>#0001F45C</key>
	<string>👜</string>
	<key>#0001F45D</key>
	<string>👝</string>
	<key>#0001F45E</key>
	<string>👞</string>
	<key>#0001F45F</key>
	<string>👟</string>
	<key>#0001F460</key>
	<string>👠</string>
	<key>#0001F461</key>
	<string>👡</string>
	<key>#0001F462</key>
	<string>👢</string>
	<key>#0001F463</key>
	<string>👣</string>
	<key>#0001F464</key>
	<string>👤</string>
	<key>#0001F465</key>
	<string>👥</string>
	<key>#0001F466</key>
	<string>👦</string>
	<key>#0001F467</key>
	<string>👧</string>
	<key>#0001F468</key>
	<string>👨</string>
	<key>#0001F469</key>
	<string>👩</string>
	<key>#0001F46A</key>
	<string>👪</string>
	<key>#0001F46B</key>
	<string>👫</string>
	<key>#0001F46C</key>
	<string>👬</string>
	<key>#0001F46D</key>
	<string>👭</string>
	<key>#0001F46E</key>
	<string>👮</string>
	<key>#0001F46F</key>
	<string>👯</string>
	<key>#0001F470</key>
	<string>👰</string>
	<key>#0001F471</key>
	<string>👱</string>
	<key>#0001F472</key>
	<string>👲</string>
	<key>#0001F473</key>
	<string>👳</string>
	<key>#0001F474</key>
	<string>👴</string>
	<key>#0001F475</key>
	<string>👵</string>
	<key>#0001F476</key>
	<string>👶</string>
	<key>#0001F477</key>
	<string>👷</string>
	<key>#0001F478</key>
	<string>👸</string>
	<key>#0001F479</key>
	<string>👹</string>
	<key>#0001F47A</key>
	<string>👺</string>
	<key>#0001F47C</key>
	<string>👼</string>
	<key>#0001F47D</key>
	<string>👽</string>
	<key>#0001F47F</key>
	<string>👿</string>
	<key>#0001F480</key>
	<string>💀</string>
	<key>#0001F481</key>
	<string>💁</string>
	<key>#0001F482</key>
	<string>💂</string>
	<key>#0001F483</key>
	<string>💃</string>
	<key>#0001F484</key>
	<string>💄</string>
	<key>#0001F485</key>
	<string>💅</string>
	<key>#0001F486</key>
	<string>💆</string>
	<key>#0001F487</key>
	<string>💇</string>
	<key>#0001F48B</key>
	<string>💋</string>
	<key>#0001F48C</key>
	<string>💌</string>
	<key>#0001F48D</key>
	<string>💍</string>
	<key>#0001F48E</key>
	<string>💎</string>
	<key>#0001F48F</key>
	<string>💏</string>
	<key>#0001F491</key>
	<string>💑</string>
	<key>#0001F493</key>
	<string>💓</string>
	<key>#0001F494</key>
	<string>💔</string>
	<key>#0001F495</key>
	<string>💕</string>
	<key>#0001F496</key>
	<string>💖</string>
	<key>#0001F497</key>
	<string>💗</string>
	<key>#0001F498</key>
	<string>💘</string>
	<key>#0001F499</key>
	<string>💙</string>
	<key>#0001F49A</key>
	<string>💚</string>
	<key>#0001F49B</key>
	<string>💛</string>
	<key>#0001F49C</key>
	<string>💜</string>
	<key>#0001F49E</key>
	<string>💞</string>
	<key>#0001F4A2</key>
	<string>💢</string>
	<key>#0001F4A4</key>
	<string>💤</string>
	<key>#0001F4A5</key>
	<string>💥</string>
	<key>#0001F4A6</key>
	<string>💦</string>
	<key>#0001F4A7</key>
	<string>💧</string>
	<key>#0001F4A8</key>
	<string>💨</string>
	<key>#0001F4A9</key>
	<string>💩</string>
	<key>#0001F4AA</key>
	<string>💪</string>
	<key>#0001F4AB</key>
	<string>💫</string>
	<key>#0001F4AC</key>
	<string>💬</string>
	<key>#0001F4AD</key>
	<string>💭</string>
	<key>#0001F4BC</key>
	<string>💼</string>
	<key>#0001F525</key>
	<string>🔥</string>
	<key>#0001F600</key>
	<string>😀</string>
	<key>#0001F601</key>
	<string>😁</string>
	<key>#0001F602</key>
	<string>😂</string>
	<key>#0001F603</key>
	<string>😃</string>
	<key>#0001F604</key>
	<string>😄</string>
	<key>#0001F605</key>
	<string>😅</string>
	<key>#0001F606</key>
	<string>😆</string>
	<key>#0001F607</key>
	<string>😇</string>
	<key>#0001F608</key>
	<string>😈</string>
	<key>#0001F609</key>
	<string>😉</string>
	<key>#0001F60A</key>
	<string>😊</string>
	<key>#0001F60B</key>
	<string>😋</string>
	<key>#0001F60C</key>
	<string>😌</string>
	<key>#0001F60D</key>
	<string>😍</string>
	<key>#0001F60E</key>
	<string>😎</string>
	<key>#0001F60F</key>
	<string>😏</string>
	<key>#0001F610</key>
	<string>😐</string>
	<key>#0001F611</key>
	<string>😑</string>
	<key>#0001F612</key>
	<string>😒</string>
	<key>#0001F613</key>
	<string>😓</string>
	<key>#0001F614</key>
	<string>😔</string>
	<key>#0001F615</key>
	<string>😕</string>
	<key>#0001F616</key>
	<string>😖</string>
	<key>#0001F617</key>
	<string>😗</string>
	<key>#0001F618</key>
	<string>😘</string>
	<key>#0001F619</key>
	<string>😙</string>
	<key>#0001F61A</key>
	<string>😚</string>
	<key>#0001F61B</key>
	<string>😛</string>
	<key>#0001F61C</key>
	<string>😜</string>
	<key>#0001F61D</key>
	<string>😝</string>
	<key>#0001F61E</key>
	<string>😞</string>
	<key>#0001F61F</key>
	<string>😟</string>
	<key>#0001F620</key>
	<string>😠</string>
	<key>#0001F621</key>
	<string>😡</string>
	<key>#0001F622</key>
	<string>😢</string>
	<key>#0001F623</key>
	<string>😣</string>
	<key>#0001F624</key>
	<string>😤</string>
	<key>#0001F625</key>
	<string>😥</string>
	<key>#0001F626</key>
	<string>😦</string>
	<key>#0001F627</key>
	<string>😧</string>
	<key>#0001F628</key>
	<string>😨</string>
	<key>#0001F629</key>
	<string>😩</string>
	<key>#0001F62A</key>
	<string>😪</string>
	<key>#0001F62B</key>
	<string>😫</string>
	<key>#0001F62C</key>
	<string>😬</string>
	<key>#0001F62D</key>
	<string>😭</string>
	<key>#0001F62E</key>
	<string>😮</string>
	<key>#0001F62F</key>
	<string>😯</string>
	<key>#0001F630</key>
	<string>😰</string>
	<key>#0001F631</key>
	<string>😱</string>
	<key>#0001F632</key>
	<string>😲</string>
	<key>#0001F633</key>
	<string>😳</string>
	<key>#0001F634</key>
	<string>😴</string>
	<key>#0001F635</key>
	<string>😵</string>
	<key>#0001F636</key>
	<string>😶</string>
	<key>#0001F637</key>
	<string>😷</string>
	<key>#0001F638</key>
	<string>😸</string>
	<key>#0001F639</key>
	<string>😹</string>
	<key>#0001F63A</key>
	<string>😺</string>
	<key>#0001F63B</key>
	<string>😻</string>
	<key>#0001F63C</key>
	<string>😼</string>
	<key>#0001F63D</key>
	<string>😽</string>
	<key>#0001F63E</key>
	<string>😾</string>
	<key>#0001F63F</key>
	<string>😿</string>
	<key>#0001F640</key>
	<string>🙀</string>
	<key>#0001F645</key>
	<string>🙅</string>
	<key>#0001F646</key>
	<string>🙆</string>
	<key>#0001F647</key>
	<string>🙇</string>
	<key>#0001F648</key>
	<string>🙈</string>
	<key>#0001F649</key>
	<string>🙉</string>
	<key>#0001F64A</key>
	<string>🙊</string>
	<key>#0001F64B</key>
	<string>🙋</string>
	<key>#0001F64C</key>
	<string>🙌</string>
	<key>#0001F64D</key>
	<string>🙍</string>
	<key>#0001F64E</key>
	<string>🙎</string>
	<key>#0001F64F</key>
	<string>🙏</string>
	<key>#0001F6B6</key>
	<string>🚶</string>
	<key>#261D</key>
	<string>☝</string>
	<key>#263A</key>
	<string>☺</string>
	<key>#270A</key>
	<string>✊</string>
	<key>#270B</key>
	<string>✋</string>
	<key>#270C</key>
	<string>✌</string>
	<key>#2728</key>
	<string>✨</string>
	<key>#2764</key>
	<string>❤</string>
</dict>
</plist>
